<div class="home_container">
    <app-card
      gameCover="assets/img/bt-4.jpg"
      gameLabel="DIGITAL"
      gameType="DIGITAL | PS4"
      gamePrice="R$ 129,90"
    >
    </app-card>
    <app-card
      gameCover="assets/img/bt-1.jpg"
      gameLabel="EXCLUSIVE"
      gameType="DISC | PS5"
      gamePrice="R$ 350"
    >
    </app-card>
    <app-card
      gameCover="assets/img/bt-bad-company-2.jpg"
      gameLabel="DIGITAL"
      gameType="DISC | PS4"
      gamePrice="R$ 250"
    >
    </app-card>
    <app-card
      gameCover="assets/img/bt-5.jpg"
      gameLabel="EXCLUSIVE"
      gameType="DIGITAL | PS5"
      gamePrice="R$ 249,90"
    >
    </app-card>
    <app-card
      gameCover="assets/img/bt-hardline.jpg"
      gameLabel="NEW"
      gameType="DIGITAL | PS3 PS4"
      gamePrice="R$ 229,90"
    >
    </app-card>
    <app-card
      gameCover="assets/img/ac-cover.jpg"
      gameLabel="BEST OF THE YEAR"
      gameType="DISC | PS4 PS5"
      gamePrice="R$ 279,90"
    >
    </app-card>
</div>
